SLACK_DEV_CICD_MONITORING_WEBHOOK_URL: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SLACK_PROD_CICD_MONITORING_WEBHOOK_URL: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SLACK_TEST_CICD_MONITORING_WEBHOOK_URL: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
